/* .summary-page {
    background: linear-gradient(135deg, #f8f9fa, #e9ecef);
}

.summary-card {
    padding: 2rem;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
}

.summary-card .btn-success {
    margin-top: 1rem;
    width: 100%;
} */



/* .summary-page .summary-card {
    max-width: 100%;
    width: 100%;
    margin: 10px;
}

@media (min-width: 576px) {
    .summary-page .summary-card {
        width: 800px;
    }
}

.summary-page .table {
    width: 100%;
    overflow-x: auto;
} */




.summary-page {
    background-color: #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.summary-card {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}

.summary-card .card-title {
    font-size: 1.5rem;
    color: #333333;
}

.summary-card .table thead th,
.summary-card .table tbody td {
    color: #333333;
}

.summary-card .btn-success {
    background-color: #3783af;
    border-color: #148dd3;
    border-radius: 5px;
    width: 100%;
}

.summary-card .btn-success:hover {
    background-color: #3192ca;
    border-color: #1e8bca;
}
